<html>
     <title>L2T</title>
  </head>

    <body>
      <div id="header"><h1> L2T </h1><div>
      <input type="submit" name="sign in" value="sign in"/>
      </div>
      <div>
      <input type="submit" name="sign up" value="sign up"/>
      </div>
      </div>
      </div>

    </body>


</html>
