<html>
     <title>L2T</title>
  </head>

    <body>

      <div id="header">
        <h1> L2T </h1>
      <div>
        <input type="submit" name="log_out" value="sign out">
      </div>

      </div>

      <div id="info">
        <div id="pic">
        <div class="circular"></div>
        </div>

        <div id="about">
        <div>
        <input type="submit" name="inbox" value="inbox"/>
        </div>
        </div>
      </div>

      <div id="feed">
        <div id="news"></div>
        <div id="matches"></div>
      </div>

      <div id="footer"></div>

    </body>


</html>
