<html>
     <title>L2T</title>
  </head>

    <body>
      <div id="header">
        <h1> L2T </h1>
        <div>
        <input type="submit" name="profile" value="profile"/>
        </div>
        <div>
        <input type="submit" name="log_out" value="sign out">
        </div>
      </div>

      <div id="info">
        <div id="pic"></div>
        <div id="about">
        <div>
        <input type="submit" name="send_msg" value="message"/>
        </div>
        </div>
      </div>

      <div id="feed">
        <div id="news"></div>
        <div id="matches"></div>
      </div>

      <div id="footer"></div>

    </body>

</html>







