* {
    box-sizing: border-box;
}

html {

  width: 100%;
  height: 100%;
}

h1 {

  text-align: center;
  font-size: 40px;
}

body {

    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    /*font-size: 30px;
    background-color: #F1E8E3*/

}

#info {

  position: absolute;
  width: 100%;
  height: 200px;
  top: 100px;
  background-color: gray;

}

#pic {

  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  background-color: pink;

}

#about {

  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #F4EECA;
  right: 0;

}

#feed {

  position: absolute;
  width: 100%;
  height: 500px;
  top: 300px;
  background-color: purple;

}
#news {

  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: gray;
  overflow: scroll;
}

#matches {

  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: #ACEADF;

}

#profilefeed {

  position: absolute;
  background-color: white;

}

ul {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

li.match {
  width: 100%;
  height: 20%;
  list-style: none;
}

li.news {
  width: 100%;
  height: 100px; /* were pretending its 100px */
  list-style: none;
}

#header {

  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  background-color: #D5C6DB;

}

#footer {

  position: absolute;
  width: 100%;
  height: 100px;
  top: 800px;
  background-color: pink;

}

.circular {
  width: 150px;
  height: 150px;
  border-radius:75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background-color: white;

  }

[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: #ACEADD;
    color: #fff;
    text-transform: lowercase;
    font-size: 15px;
    /*padding: 5px 35px;*/
    /*height: 30px;
    margin: 30px auto;*/

}*/

/*FF63BB*/
